:root{
    background: linear-gradient(rgb(223, 171, 94),rgba(214, 205, 75, 0.582),rgb(252, 252, 145));
    height: 100px;;
}

img{
    height: 300px;
    width: 300px;
    position: absolute;
}
.banner{
    position: relative;
    margin: 30px;
    width: 90vw;
    height: 70vh;
}

.one{
    top: 0%;
    left: 0%;
    z-index: 3;
    animation: yello 6s infinite;
}

.two{
    top: 20%;
    left: 10%;
    z-index: 1;
    animation: yello 2s infinite;
}

.tree{
    top: 30%;
    left: 20%;
    z-index: 1;
    animation: yello 6s infinite;
}
@keyframes yello{
    0%{
        z-index: 1;
        z-index: 2;
        z-index: 3;
        transition: all background;
    }
    50%{
        z-index: 2;
        z-index: 3;
        z-index: 1;
        transition: all background;
    }
100%{
        z-index: 3;
        z-index: 1;
        z-index: 2;
        transition: all background;
    }
}