body {
  background: black;
  background-image: url(./image/star.jpeg);
  background-attachment: fixed;
}
a {
  font-family: "Potta One";
  color: white;
  font-size: 1.5rem;
}
.para {
  font-family: "Potta One";
  color: white;
  float: right;
  font-size: 1.2rem;
}
.para1 {
  font-family: "Potta One";
  color: white;
  background-position: center;
  padding: 10rem 20rem;
  font-size: 1.2rem;
}
img {
  margin-bottom: 5%;
}

.img1 {
  width: 20%;
}
.img2 {
  width: 30%;
}
.img3 {
  width: 15%;
}
.img4 {
  width: 40%;
}

.btn1 {
  float: right;
}

/* app text */
.text-app {
  opacity: 0;
  transition: all 0.3s ease;
}

.ade {
  opacity: 1;
}

h1 {
  font-family: "Potta One";
  color: rgb(255, 230, 8);
  text-decoration: overline;
}

.li1 {
  font-family: "Potta One";
  color: rgb(255, 255, 255);
  letter-spacing: 0.4rem;
  text-shadow: 15px 15px 9px rgb(255, 239, 11);
  font-size: 1.5rem;
  padding-left: 5%;
}

.litext {
  float: right;
}
p {
  color: aliceblue;
  font-family: "Potta One";
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s all ease-in-out;
}

.active {
  opacity: 1;
  transform: translateY(0px);
}
