:root {
  background: linear-gradient(
    rgb(223, 171, 94),
    rgba(214, 205, 75, 0.582),
    rgb(252, 252, 145)
  );
  height: 100px;
  --colorPacifico: Pacifico;
  --RocknRoolone: "RocknRoll One", sans-serif;
}

img {
  height: 300px;
  width: 300px;
  position: absolute;
}
.banner {
  position: relative;
  margin: 30px;
  width: 90vw;
  height: 70vh;
}

.one {
  top: 0%;
  left: 0%;
  z-index: 3;
  animation: yello 6s infinite;
}

.two {
  top: 20%;
  left: 10%;
  z-index: 1;
  animation: yello 2s infinite;
}

.tree {
  top: 30%;
  left: 20%;
  z-index: 1;
  animation: yello 6s infinite;
}
@keyframes yello {
  0% {
    z-index: 1;
    z-index: 2;
    z-index: 3;
    transition: all background;
  }
  50% {
    z-index: 2;
    z-index: 3;
    z-index: 1;
    transition: all background;
  }
  100% {
    z-index: 3;
    z-index: 1;
    z-index: 2;
    transition: all background;
  }
}
.title {
  font-style: oblique;
  text-decoration: underline;
  text-align: center;
}
.font {
  height: 700px;
  background: url(./image/im1font.jpg);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  animation: fon 10s infinite;
  position: relative;
  background-attachment: fixed;
}

@keyframes fon {
  0% {
    background: url(./image/im2font.jpg);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    animation: fon 1s infinite;
    position: relative;
    background-attachment: fixed;
    transition: all background;
  }
}
p {
  color: rgb(82, 85, 77);
  float: left;
  background-position: center;
  width: 400px;
  margin-left: 500px;
  font-family: var(--RocknRoolone);
  font-weight: bolder;
}
a {
  font-family: var(--colorPacifico);
  font-size: 30px;
  color: black;
}
